@import 'components/_all';

body {
	background: #9D50BB; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(right, #9D50BB, #6E48AA);
background: -o-linear-gradient(right, #9D50BB, #6E48AA);
background: linear-gradient(to left, #9D50BB, #6E48AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}